---
import Layout from '../components/Layout.astro';
import Logo from '../components/Logo.astro';
---

<Layout title="Is Even">
	<header>
		<h1><Logo /></h1>
		<p class="tagline">Parity checking as a service</p>
	</header>
	<main>
		<form method="POST" action="/signup/account">
			<input type="number" placeholder="2, 3, 75, etc.">
			<button type="submit" class="submit-button">Is it even?</button>
		</form>
	</main>
</Layout>

<style>
	header {
		display: grid;
		place-items: center;
	}

	.tagline {
		text-transform: uppercase;
		font-size: var(--font-size-lg);
		color: var(--color-primary);
	}
</style>