---
export interface Props {
  text: string;
}

const {text} = Astro.props as Props;
---

{text ? <p>{text}</p> : null}

<style>
  p {
    --primary: hsl(0, 90%, 29%);
    background-color: hsl(0, 78%, 91%);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;
  }
</style>