---
import 'open-props/normalize';
import 'open-props/style';
import 'open-props/colors-hsl';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/fonts.css" />
	<title>{title}</title>
</head>
<body>
  <main id="swup">
    <slot />
  </main>
  <script>
    import Swup from 'swup';
    import SwupFormsPlugin from '@swup/forms-plugin';
    import SwupA11yPlugin from '@swup/a11y-plugin';
    new Swup({
      plugins: [new SwupFormsPlugin(), new SwupA11yPlugin()],
    });
  </script>
</body>
</html>

<style>

  :root {
    --brand-light: hsl(274, 100%, 38%);

    --text1-light: var(--gray-9);
    --text2-light: var(--gray-8);

    --surface1-light: var(--gray-0);
    --surface2-light: hsl(var(--indigo-1-hsl) / 50%);

    --brand: var(--brand-light);
    --text-1: var(--text1-light);
    --text-2: var(--text2-light);
    --surface-1: var(--surface1-light);
    --surface-2: var(--surface2-light);
  }

  html {
    font-family: 'HK Grotesk';
    font-size: var(--font-size-base);
    color: var(--color-text);
  }

  html, body, main {
    height: 100%;
  }

  :global(.visually-hidden) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  :global(button) {
    font-weight: var(--font-weight-7);
    color: var(--gray-0);
    padding: var(--size-2);
    border-radius: var(--radius-2);
    outline-color: var(--brand);
    background: linear-gradient(120deg, white 50%, var(--brand) 50%);
    background-size: 220%;
    background-position-x: 100%;
    transition-property: color, background-position-x;
    transition-duration: 0.3s;
    transition-timing-function: var(--ease-5);
  }
  :global(button:is(:focus, :hover, :active)) {
    background-position-x: 0%;
    color: var(--brand);
  }
  :global(input:is([type="text"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="url"])) {
    background: linear-gradient(120deg, white 50%, var(--surface-2) 50%);
    background-size: 220%;
    background-position-x: 100%;
    transition-property: background-position-x;
    transition-duration: 0.3s;
    transition-timing-function: var(--ease-5);
  }
  :global(input:is([type="text"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="url"]):is(:focus, :hover, :active)) {
    background-position-x: 0%;
  }
  :global(button) {
    outline-color: var(--brand);
  }
</style>
